<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h4 class="micropost">Say anything:</h4>
        <%= render 'shared/micropost_form' %>
    <h3>Recent tweets</h3>
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <p>
    This is a demo app based on 
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application. It is slightly modified with some new features added.
  </p>

  <%= link_to "Create new user", signup_path, :class => "signup_button round" %>
  <h4><center><br>Already a user? <%= link_to "Sign in", signin_path %> immediately!</center><h4>
<% end %>